<h2>Отчеты по играм</h2>
<hr>
<div class="row">
  <div class="col-sm-7 col-lg-8">
    <h3>Самые популярные игры</h3>
    <hr>
  <!-- <div class="col-lg-8" ng-class="($ctrl.targetGame.status) ? 'col-sm-7' : 'col-sm-10'"> -->
     <table class="table table-bordered table-hover text-center">
      <tbody>
        <tr class="active">
          <td>№</td>
          <td>Game</td>
          <td>Count</td>
          <td>AVG Score</td>
        </tr>

        <tr ng-repeat="report in $ctrl.reportGames" >
          <td>{{$index +1}}</td>
          <td>{{report.name}}</td>
          <td>{{report.count}}</td>
          <td>{{report.avgscore}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-5 col-lg-4 ">
    <div ng-hide="">
      <form name="form-params" novalidate class="min-width-300">
        <h3 class="text-center">Параметры отчета</h3>
        <hr>
        <div ng-show="paramsReport">
          <p class="bg-warning text-center">{{paramsReport}}</p>
        </div>

        <div class="form-group">
          <label>Количество результатов</label>
          <input type="text" ng-model="paramsReport.limit" name="limit" class="form-control">
        </div>

        <div class="form-group">
          <label>По игрокам</label>
          <select class="form-control" ng-model="paramsReport.users" name="users" multiple>
            <option ng-repeat="user in $ctrl.usersList" label="{{user.name}}"  value="{{user.id}}"></option>
            <!-- ng-options="user.name for user in $ctrl.usersList track by user.id"  -->
          </select>
        </div>
        <div class="form-group">

          <label>За период</label>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="paramsReport.from" is-open="popup1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"  ng-model="paramsReport.to" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.getReport(paramsReport)">Применить</button>
        <button type="submit" class="btn btn-default" ng-click="paramsReport = {}">Очистить</button>
      </form>
    </div>

  </div>


</div>
<hr>
<p>reports-games</p>
<hr>
