
<div class="row">
  <div class="col-xs-8 col-xs-8 ">
    <a ui-sref="lk-admin">Home</a>
    <a ui-sref="lk-admin.game-list"> Справоник игр</a>
    <a ui-sref="lk-admin.reports-games">Отчеты по играм</a>
    <a ui-sref="lk-admin.reports-users">Отчеты по игрокам</a>
  </div>
  <div class="col-xs-4 col-xs-4 text-right">
    Здравствуйте! {{$ctrl.userName}}
    | <a ui-sref="logout">Выход</a> |
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <ui-view></ui-view>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <hr>
    State: Lk-Admin 
  </div>
</div>
